[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Xfce4 Windows Boot Button
Comment=A neat way to boot to Windows - with just one click.
Icon=xfce4-winbootbutton-plugin
X-XFCE-Module=winbootbutton
X-XFCE-Internal=FALSE
X-XFCE-Unique=true
X-XFCE-API=2.0
